.logo
  a.logo__link(href='./')
    - var itemSrc = imgDir + 'logo__img.svg';
    img.logo__img(src=itemSrc alt='logo')

    .logo__title Siedlisko<br>Pod Dębami

    .logo__sub Gospodarstwo Agroturystyczne