.logo
  
  &__link
    &:hover
      text-decoration: none
      .logo__img
        transform: rotate(10deg)
      
      .logo__title
        color: $gray
    
      .logo__sub
        color: $gray
    
  &__img
    transition: 0.4s ease all
    transform-origin: left bottom
  
  &__title
    +font(size 24px weight 700)
    color: $grayDark
    line-height: 1
    transition: 0.4s ease all
    
  &__sub
    +font(size 9px)
    margin-top: 5px
    transition: 0.4s ease all