.social
  position: relative
  +TAB_MAX
    text-align: center
  +PC_MIN
    margin-top: 30px
  
  &__link
    +font(size 24px)
    margin-right: 30px
    transition: 0.3s ease all
    &:last-child
      margin: 0
    &:hover
      color: $gray
      
  &__logo
    +TAB_MAX
      display: none
    +PC_MIN
      display: inline-block
      position: absolute
      top: -50px
      right: 60px
      filter: grayscale(1)
      transition: 0.3s ease all
      &:hover
        filter: grayscale(0)
    