.social

  .social__links
    a.social__link(href='https://www.facebook.com/Siedlisko-pod-d%C4%99bami-200617793609754/' target='_blank')
      i.fa.fa-facebook

    a.social__link(href='http://twitter.com/' target='_blank')
      i.fa.fa-twitter

    a.social__link(href='http://youtube.com/' target='_blank')
      i.fa.fa-youtube

  a.social__logo(href='http://pftw.pl/' target='_blank')
    - var imgSrc = imgDir + 'social__img.png';
    img.social__logoImg(src=imgSrc alt='pftw')