.blog
  +clearfix
  overflow: hidden
  
  &__imgBox
    float: right
    width: 100%
    padding: 20px
    margin-left: 20px
    margin-bottom: 20px
    background: transparentize($gray, 0.7)
    +PHONE_ONLY
      margin-bottom: 20px
    +TAB_MIN
      width: calc(50% + 20px)
      position: relative
      &:after
        content: ''
        position: absolute
        top: 0
        left: 100%
        width: 500%
        height: 100%
        background: inherit
  
  &__img
    +section-bg
    height: 280px
    width: 100%
  
  &__box
    +section-padding
  
  &__title
    +TAB_MIN
      margin-bottom: 40px