.blog
  .container.wow.fadeInLeft(data-wow-delay='0.6s')
    .blog__imgBox
      - var imgStyle = 'background-image: url('+ imgDir +'blog__img-1.jpg)'
      .blog__img(style=imgStyle)

    .blog__box
      .blog__title
        include ../title/title
      .blog__content
        +lorem(40)