{loop: $navigation.list}
{if: !isset($value.children)}
<li class="nav__item">
    <a class="nav__link {if: $value.active}-active{/if}" href="{$value.url}">
        {$value.name}
    </a>
</li>
{/if}
{/loop}