.about
  overflow: hidden
  
  &__flex
    +section-padding
    display: flex
    flex-wrap: wrap
    
  &__title
    width: 100%
    +TAB_MIN
      width: 50%
      padding-right: 30px
    +PC_MIN
      width: 25%
    
  &__content
    width: 100%
    +TAB_MIN
      width: 50%
    +PC_MIN
      width: 75%