.tree
  .container
    - var imgSrcMain = imgDir + 'tree__main.svg';
    img.tree__main.wow.fadeInLeft(src=imgSrcMain alt='tree' data-wow-delay='1.2s')

    - var imgSrcSecond = imgDir + 'tree__second.svg';
    img.tree__second.wow.fadeInRight(src=imgSrcSecond alt='tree' data-wow-delay='1.2s')

    - var imgSrcThird = imgDir + 'tree__third.svg';
    img.tree__third.wow.fadeInLeft(src=imgSrcThird alt='tree' data-wow-delay='1.2s')