.tree
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: -1
  overflow: hidden
  
  .container
    position: relative
    height: 100%
  
  &__main
    position: absolute
    top: -100px
    left: -340px
    
  &__second
    position: absolute
    top: 80px
    right: -240px
    +TAB_MAX
      display: none
      
  &__third
    position: absolute
    left: -340px
    bottom: -240px
    +TAB_MAX
      left: -540px