<script>
  var mapLat = {$googlemap.lat};
  var mapLng = {$googlemap.lng};
  var mapZoom = {$googlemap.zoom};
  var styles = {$googlemap.styles};

  window.onload = function() {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
</script>

<div id="map">
    <div id="map__canvas"></div>
    <a href="https://www.google.pl/maps/dir/{$googlemap.lat},{$googlemap.lng}/@{$googlemap.lat},{$googlemap.lng},{$googlemap.zoom}z" target="_blank" id="map__marker">
        <img class="wow bounceInUp" id="map__icon" src="{$bat.path}/themes/{$settings.theme}/dist/img/map__marker.svg" alt="marker" data-wow-delay="0.9s">
        <div id="map__text">Znajdź trasę</div>
    </a>
</div>