.loader
  .loader__box
    .loader__center
      .loader__object.-one
      .loader__object.-two
      .loader__object.-three
      .loader__object.-four
      .loader__object.-five
      .loader__object.-six
      .loader__object.-seven
      .loader__object.-eight
      .loader__object.-big