{* title - Nagłówek wpisu / News title *}
{* url - Link do wpisu / Link *}
{* author.username - Nazwa autora / Author name *}
{* published_at - Data / Date *}
{* content - Treść / Content *}
{* cover_url - Obrazek / Image *}
{* param_img - wartość pola images z modułu / images value from module [yes,no] *}
{* param_author - wartość pola author z modułu / author value from module [yes,no] *}
{* param_date - wartość pola date z modułu / date value from module [yes,no] *}
{* param_text - wartość pola text z modułu / date value from module [yes,no] *}
{* param_title - wartość pola tytuł z modułu / date value from module [yes,no] *}

{loop: $latestnews.posts}
	<div class="lnews">
		{if: $value.param_img == 'yes'}
			{if: $value.cover_photo}
			<a href="{$value.url}" class="lnews__link">
				<div class="lnews__thumbnail" style="background: url('{$value.cover_url}')"></div>
			</a>
			{/if}
		{/if}

		<div class="lnews__content">
			<a href="{$value.url}">
				{if: $value.param_title == 'yes'}
				<h4 class="ln-title">{$value.title}</h4>
				{/if}
			</a>

			<div class="lnews__meta">
				{if: $value.param_author == 'yes'}
				<p>{$value.author.username}</p>
				{/if}

				{if: $value.param_date == 'yes'}
				<p>{$value.published_at}</p>
				{/if}
			</div>

			{if: $value.param_text == 'yes'}
			<p>{$value.content}</p>
			{/if}
		</div>
	</div>
{/loop}  

