<article class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{$links.title}</h3>
            </div>
            <div class="panel-body">
        		<form name="links" action="{?=url(ADMIN.'/links/save/'.@$links.id)?}" method="POST">
    	            <div class="form-group" {if: $links.name}style="display: none;"{/if}>
    	                <label>{$lang.general.name}</label>
    	                <input type="text" name="name" class="form-control" value="{$links.name}" required />
    	            </div>
    	            <div class="form-group">
    	                <label>{$lang.links.content}</label>
                        <input type="text" name="content" class="form-control" value="{$links.content}" required />
    	            </div>
    	            <input type="submit" name="save" class="btn btn-primary" value="{$lang.general.save}" />
                </form>
            </div>
        </div>
    </div>
</article>