- var markerSrc = imgDir + 'map__marker.svg';

script.
  var mapLat = 54.270991;
  var mapLng = 21.041595;
  var mapZoom = 13;
  var styles = [{"featureType": "all", "elementType": "all", "stylers": [{"saturation": -130}, {"gamma": 0.9}]}];

  window.onload = function () {
    map.init(mapLat, mapLng, mapZoom, styles);
  }
#map
  #map__canvas
  a(href='https://www.google.pl/maps/dir/54.270991,21.041595/@54.270991,21.041595,13z' target='_blank')#map__marker
    img#map__icon.wow.bounceInUp(src=markerSrc alt='marker' data-wow-delay='0.9s')
    #map__text Znajdź trasę