{include: themes/".$settings.theme."/inc/header.html}

{include: themes/".$settings.theme."/inc/banner.html}

<div class="blog">
    <div class="container wow fadeInLeft" data-wow-delay="0.6s">
        <div class="blog__imgBox">
            <div class="blog__img" style="background-image: url({$bat.path}/themes/{$settings.theme}/dist/img/blog__img-1.jpg);"></div>
        </div>
        <div class="blog__box">
            <div class="blog__title">
                <h1 class="title">{$page.title} {$page.desc}</h1>
            </div>
            <div class="blog__content">
                {$page.content}
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container -border">
        <div class="contact__box wow fadeInRight" data-wow-delay="0.6s">
            <div class="contact__title">
                <h1 class="title">Kontakt</h1>
            </div>

            {if: $bat.notify}
            <div class="notify -{$bat.notify.type}">{$bat.notify.text}</div>
            {/if}

            <div class="contact__form">
                {$contact.form}
            </div>
        </div>
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
