{include: themes/".$settings.theme."/inc/header.html}

{$carousel.main}

<div class="about">
    <div class="container -border">
        <div class="about__flex">
            <div class="about__title wow fadeInLeft" data-wow-offset="200">
                <h1 class="title">{$page.title}</h1>
            </div>
            <div class="about__content wow fadeInRight" data-wow-offset="200">
                {$page.content}
            </div>
        </div>
    </div>
</div>

{include: themes/".$settings.theme."/inc/footer.html}
