﻿.header
  .container
    .header__flex
      .header__panel
        .header__logo
          include ../logo/logo
        .header__nav
          include ../nav/nav

      .header__social
        include ../social/social