.header
  padding: 20px 0
  position: relative
  z-index: 10
  +PC_MIN
    padding: 80px 0 0 0
  
  &__flex
    display: flex
    flex-wrap: wrap
  
  &__panel
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    position: relative
    +TAB_MAX
      border-bottom: 1px dashed $gray
      padding-bottom: 20px
    +PC_MIN
      width: 50%
      &:after, &:before
        content: ''
        position: absolute
        z-index: 1
        border-left: 1px dashed $gray
        top: -1000px
      &:after
        left: -40px
        height: 1300px
      &:before
        right: 40px
        height: 1200px
    
  &__nav
    margin-right: 60px
    
  &__social
    width: 100%
    +TAB_MAX
      margin-top: 20px
    +PC_MIN
      width: 50%