.info

  .info__title
    include ../title/title

  .info__flex
    .info__column
      p Gospodarstwo Agroturystyczne
      p "Siedlisko Pod Dębami"
      p Romankowo 2
      p 11-210 Sępopol

    .info__column
      p
        a(href='tel:505654032') Tel. 505 654 032
      p
        a(href='tel:504582290') Tel. 504 582 290
      p
        a(href='mailto:kontakt@domena.pl') kontakt@domena.pl