.info
  +section-padding
  
  &__title
    +TAB_MIN
      margin-bottom: 40px
      
  &__flex
    display: flex
    +PHONE_ONLY
      flex-wrap: wrap
    
  &__column
    +PHONE_ONLY
      width: 100%
      &:last-child
        margin-top: 20px
    +TAB_MIN
      width: 50%