.footer
  .container
    .footer__flex
      .footer__copy.wow.fadeInLeft(data-wow-delay='0.6s') Copyright by Siedlisko Pod Dębami - 2016
      a.footer__link.wow.bounceInRight(href='http://collor.pl' target='_blank' data-wow-delay='1.2s') Realizacja: Collor.pl