.footer
  padding: 40px 0
  background: transparentize($black, 0.2)
  color: $white
  overflow: hidden
  +PC_MIN
    padding: 100px 0
  
  &__flex
    display: flex
    justify-content: space-between
    +PHONE_ONLY
      flex-direction: column
      
  &__link
    color: $white
    transition: 0.3s ease all
    &:hover
      text-decoration: none
      color: $green
    +PHONE_ONLY
      margin-top: 10px