=clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

=container
  margin: 0 auto
  padding: 0 20px
  max-width: 1260px

=absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  
=section-padding
  padding: 40px 0
    
=section-bg
  background-size: cover
  background-position: center
  