body
  +fontAleo
  font-size: 14px
  line-height: 1.4
  background: $white
  color: $black
  position: relative
  overflow-x: hidden

*::selection
  background-color: $green
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.container
  +container
  &.-border
    position: relative
    &:before
      content: ''
      border-top: 1px dashed $gray
      position: absolute
      left: 0
      top: 0
      width: 600%
      z-index: 1

.overflow
  overflow: hidden
  
.fullSection
  +section-bg
  +TAB_MAX
    min-height: 500px
  +PC_MIN
    min-height: 100vh

img
  display: inline-block