<div class="gallery">
  <div class="gallery__box">
    {loop: $gallery.items}
    <a class="gallery__item wow fadeInRight"
       {if: ($value.title | $value.desc)}
       title="{$value.title} - {$value.desc}"
       {/if}
       href="{?=url($value.src.lg)?}"
       data-wow-delay="0.3s">
      <div class="gallery__thumb" style="background-image: url('{?=url($value.src.sm)?}');"></div>
    </a>
    {/loop}
  </div>
</div>