.banner
  overflow: hidden
  margin-bottom: 40px
  
  &__row
    +clearfix
    position: relative
  
  &__tiny
    box-shadow: -2px 24px 34px -27px $black
    margin-bottom: 60px
    +PC_MIN
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      width: 57%
      z-index: 10
  
  &__tinyItem
    +section-bg
    width: 100%
    height: 390px
  
  &__tinyArrow
    display: flex
    align-items: center
    position: absolute
    bottom: 0
    color: $gray
    cursor: pointer
    transition: 0.4s ease all
    &:hover
      color: $green
    &.-prev
      left: 0
    &.-next
      right: 0
      +PC_MIN
        right: calc(50% + 40px)
    
    i
      +font(size 24px)
  
  &__tinyArrowText
    padding: 0 20px
    +PHONE_ONLY
      display: none
  
  &__big
    float: right
    width: calc(50% + 20px)
    background: transparentize($gray, 0.7)
    padding: 20px
    +TAB_MAX
      display: none
    +PC_MIN
      position: relative
      &:after
        content: ''
        position: absolute
        top: 0
        left: 100%
        width: 500%
        height: 100%
        background: inherit
  
  &__bigItem
    +section-bg
    width: 100%
    height: 510px