.banner
  .container
    .banner__row.wow.fadeInRight(data-wow-delay='0.6s')
      .banner__tiny
        - for(var i = 1; i <= 3; i++)
          - var itemTinyStyle = 'background-image: url('+ imgDir +'banner__tiny-'+ i +'.jpg)';
          .banner__tinyItem(style=itemTinyStyle)

      .banner__big
        - for(var i = 1; i <= 3; i++)
          - var itemBigStyle = 'background-image: url('+ imgDir +'banner__big-'+ i +'.jpg)';
          .banner__bigItem(style=itemBigStyle)

      .banner__tinyArrows
        .container