<article>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{$lang.settings.general}</h3>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        {$lang.latestnews.info} <strong>{noparse}{$latestNews}{/noparse}</strong>
                        <span class="label label-default pull-right">info</span>
                    </div>

                    <form action="{?=url(ADMIN.'/latestnews/saveGeneral')?}" method="POST">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.amount_news}</label>
                                    <input type="number" min="1" max="5" class="form-control" name="amount" value="{$latestnews.amount}" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.show_title}</label>
                                    <select name="title" class="form-control">
                                        <option value="yes" {if: $latestnews.title == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.title == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.show_author}</label>
                                    <select name="author" class="form-control">
                                        <option value="yes" {if: $latestnews.author == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.author == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.show_date}</label>
                                    <select name="date" class="form-control">
                                        <option value="yes" {if: $latestnews.date == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.date == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.show_images}</label>
                                    <select name="images" class="form-control">
                                        <option value="yes" {if: $latestnews.images == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.images == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.show_text}</label>
                                    <select name="text" class="form-control">
                                        <option value="yes" {if: $latestnews.text == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.text == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.amount_characters}</label>
                                    <input type="number" min="1" max="500" class="form-control" name="cut" value="{$latestnews.cut}" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label>{$lang.latestnews.use_custom}</label>
                                    <select name="custom" class="form-control">
                                        <option value="yes" {if: $latestnews.custom == 'yes'}selected{/if}>{$lang.latestnews.ln_yes}</option>
                                        <option value="no" {if: $latestnews.custom == 'no'}selected{/if}>{$lang.latestnews.ln_no}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button type="submit" name="save" class="btn btn-primary">{$lang.general.save}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>