.gallery
  overflow: hidden
  
  &__box
    display: flex
    flex-wrap: wrap
  
  &__item
    +flex-center
    height: 150px
    +PHONE_ONLY
      width: 50%
    +TAB_MIN
      width: 25%
    +PC_MIN
      height: 240px
      width: 20%
  
  &__thumb
    +section-bg
    border-radius: 50%
    width: 120px
    height: 120px
    position: relative
    overflow: hidden
    +PC_MIN
      width: 170px
      height: 170px
    &:after
      +flex-center
      content: url(../img/gallery__plus.svg)
      color: $white
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background: $green
      border-radius: inherit
      transform: scale(0)
      transition: 0.4s ease all
      opacity: 0
    &:hover
      &:after
        transform: scale(1)
        opacity: 1