<div class="question">
    <div class="container -border">
        <div class="question__flex">
            <div class="question__content wow fadeInUp">
                <div class="info">
                    <div class="info__title">
                        <h1 class="title">Kontakt</h1>
                    </div>
                    <div class="info__flex">
                        <div class="info__column">
                            <p>Gospodarstwo Agroturystyczne</p>
                            <p>"Siedlisko Pod Dębami"</p>
                            <p>Romankowo 2</p>
                            <p>11-210 Sępopol</p>
                        </div>
                        <div class="info__column">
                            <p><a href="tel:{$link.telefon}">{$link.telefon}</a></p>
                            <p><a href="tel:{$link.telefon}">{$link.telefon}</a></p>
                            <p><a href="mailto:{$link.mail}">{$link.mail}</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question__map wow fadeInUp" data-wow-delay="0.6s">
                {$googlemap}
            </div>
        </div>
    </div>
</div>