@font-face
  font-family: 'Aleo'
  src: local("Aleo Light Italic"), local("Aleo-LightItalic"), url('../fonts/Aleo-LightItalic.otf') format("truetype")
  font-weight: 300
  font-style: italic
  
@font-face
  font-family: 'Aleo'
  src: local("Aleo Italic"), local("Aleo-Italic"), url('../fonts/Aleo-Italic.otf') format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'Aleo'
  src: local("Aleo Bold Italic"), local("Aleo-BoldItalic"), url('../fonts/Aleo-BoldItalic.otf') format("truetype")
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Aleo'
  src: local("Aleo Light"), local("Aleo-Light"), url('../fonts/Aleo-Light.otf') format("truetype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Aleo'
  src: local("Aleo Regular"), local("Aleo-Regular"), url('../fonts/Aleo-Regular.otf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Aleo'
  src: local("Aleo Bold"), local("Aleo-Bold"), url('../fonts/Aleo-Bold.otf') format("truetype")
  font-weight: bold
  font-style: normal
  
=fontAleo
  font-family: 'Aleo', sans-serif