<div class="banner">
    <div class="container">
        <div class="banner__row wow fadeInRight" data-wow-delay="0.6s">
            <div class="banner__tiny">
                {loop: $carousel.items}
                <div class="banner__tinyItem" style="background-image: url('{?=url($value.src.lg)?}')"></div>
                {/loop}
            </div>
            <div class="banner__big">
                {loop: $carousel.items}
                <div class="banner__bigItem" style="background-image: url('{?=url($value.src.lg)?}')"></div>
                {/loop}
            </div>
            <div class="banner__tinyArrows">
                <div class="container"></div>
            </div>
        </div>
    </div>
</div>